<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <link rel="stylesheet" href="/fruit/styles.css">
</head>
<body>
    <header>
        <h1>{{fruit.name}} 음식 정보</h1>
        <div class="container">
            <a href="{% url 'fruit:index'%}">Home</a>
            <a href="{% url 'fruit:fruitlist'%}">List</a>
        </div>
    </header>
    <h2>{{fruitresult.fruitresult }}로 만들 수 있는 음식 목록</h2>
    <ul>
        {% for food in foods %}
            <li>{{ food.name }}</li>
        {% endfor %}
    </ul>
    <footer>
        <div>
            <span>이름: 김건일</span><br>
            <span>이메일: laughsi@naver.com</span><br>
            <span>전화번호: 010-8937-2752</span> 
        </div>
        <div>
            <span>이름: 김세연</span><br>
            <span>이메일: pavv150@naver.com </span><br>
            <span>전화번호: 010-8933-6010</span> 
        </div>
        <div>
            <span>이름: 윤웅수</span><br>
            <span>이메일: woong_soo@daum.net</span><br>
            <span>전화번호: 010-6231-9440</span>
        </div>
        <div>
            <span>이름: 황성연</span><br>
            <span>이메일: tjddus693@naver.com</span><br>
            <span>전화번호: 010-7767-7673</span> 
        </div>
    </footer>
</body>
</html>













